<section class="page-header">
    <h1 class="project-name">Ng2 Tour</h1>
    <h2 class="project-tagline">Product tour using Angular (2+)</h2>
    <a href="https://github.com/isaacplmann/ng2-tour" class="button">View on GitHub</a>
    <a style="cursor: pointer" (click)="tourService.toggle()" class="button animated bounceInRight">Start Demo Tour</a>
</section>

<h1><span tourAnchor="title">Demo</span></h1>
<ul>
  <li><a routerLink="">First</a></li>
  <li><a routerLink="second">Second</a></li>
</ul>
<router-outlet></router-outlet>
<p><button (click)="tourService.toggle()">Tour</button></p>
<hotkeys-cheatsheet></hotkeys-cheatsheet>
