<h2>About</h2>
<p>This is a product tour library built with Angular (2+). It's inspired by
  <a tourAnchor="angular-ui-tour" href="http://benmarch.github.io/angular-ui-tour">angular-ui-tour</a>.</p>
<p>
  <code>TourConsoleModule</code> is a minimal implementation of the tour ui that uses only the browser's console to display tour steps.</p>

<h2 tourAnchor="installation">Installation</h2>
<ol>
  <li>
    <code>npm install ngx-tour-core ngx-tour-console</code>
  </li>
  <li>import
    <code>TourConsoleModule.forRoot()</code> into your app module</li>
</ol>

<h2 tourAnchor="usage">Usage</h2>
<ol>
  <li>
    Define anchor points for the tour steps by adding the
    <code>tourAnchor</code> directive throughout your app.
    <pre><code>&lt;div tourAnchor="some.anchor.id"&gt;...&lt;/div&gt;</code></pre>
  </li>
  <li>
    Define your tour steps using
    <code>tourService.initialize(steps)</code>
    <pre>
this.tourService.initialize([{{ '{' }}
  anchorId: 'some.anchor.id',
  content: 'Some content',
  title: 'First',
}, {{ '{' }}
  anchorId: 'another.anchor.id',
  content: 'Other content',
  title: 'Second',
}]);</pre>
  </li>
  <li>Start the tour with
    <code tourAnchor="tourService.start">tourService.start()</code>
  </li>
  <li>Check out the
    <a href="https://github.com/isaacplmann/ngx-tour/tree/master/src/app/console">demo source code</a> for an example.</li>
</ol>

<h2>TourService</h2>
<p>The
  <code>TourService</code> controls the tour. Some key functions include:</p>
<dl>
  <dt>start()</dt>
  <dd>Starts the tour</dd>
  <dt>startAt(stepId: number | string)</dt>
  <dd>Start the tour at the step with stepId or at the specified index</dd>
  <dt>end()</dt>
  <dd>Ends the tour</dd>
  <dt>pause()</dt>
  <dd>Pauses the tour</dd>
  <dt>resume()</dt>
  <dd>Resumes the tour</dd>
  <dt>next()</dt>
  <dd>Goes to the next step</dd>
  <dt>prev()</dt>
  <dd>Goes to the previous step</dd>
</dl>

<h2>Step Configuration</h2>
<p>Each step can have the following properties.</p>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Default</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>stepId</td>
      <td>string</td>
      <td>""</td>
      <td>A unique identifier for the step</td>
    </tr>
    <tr tourAnchor="config.anchorId">
      <td>anchorId</td>
      <td>string</td>
      <td>required</td>
      <td>The anchor to which the step will be attached</td>
    </tr>
    <tr>
      <td>title</td>
      <td>string</td>
      <td>""</td>
      <td>The title of the tour step</td>
    </tr>
    <tr>
      <td>content</td>
      <td>string</td>
      <td>""</td>
      <td>The content text of the tour step</td>
    </tr>
    <tr tourAnchor="config.route">
      <td>route</td>
      <td>string | UrlSegment[]</td>
      <td>undefined</td>
      <td>
        The route to which the tour should navigate before attempting to show this tour step. If undefined, no navigation is attempted.
      </td>
    </tr>
    <tr tourAnchor="config.nextStep">
      <td>nextStep</td>
      <td>number | string</td>
      <td>undefined</td>
      <td>The step index or stepId of the next step. If undefined, the next step in the steps array is used.</td>
    </tr>
    <tr>
      <td>prevStep</td>
      <td>number | string</td>
      <td>undefined</td>
      <td>The step index or stepId of the previous step. If undefined, the previous step in the steps array is used.</td>
    </tr>
    <tr>
      <td>placement</td>
      <td>'above' | 'below' | 'after' | 'before' | 'left' | 'right'</td>
      <td>
        <span tourAnchor="config.placement.default">'top'</span>
      </td>
      <td>
        (* Ignored by
        <code>TourMdMenuModule</code>) Where the tour step should placed with respect to the anchor. 'before' and 'after' are synonyms for 'left' and
        'right' respectively. When RTL support is implemented, 'before' and 'after' will swap directions when RTL mode is
        enabled.
      </td>
    </tr>
    <tr>
      <td>preventScrolling</td>
      <td>boolean</td>
      <td>false</td>
      <td>
        Tour steps automatically scroll to the middle of the screen, if they are off the screen when shown. Setting this value to
        true will disable the scroll behavior.
      </td>
    </tr>
  </tbody>
</table>

<h2>Defaults</h2>
<p>You can set default values in the
  <code>TourService.initialize</code> function.</p>
<pre>
this.tourService.initialize(steps, {{ '{' }}
  route: '',
  placement: 'left',
  preventScrolling: true,
});
</pre>
<p>Any value explicitly defined in a step will override the default value.</p>

<h2 tourAnchor="hotkeys">Hotkeys</h2>
<p>
  Hotkeys are provided using Angular's
  <code>@HostListener</code> decorator. Hotkeys are enabled when the tour starts and disabled when the tour ends.
</p>
<ul>
  <li>
    <strong>left arrow</strong>
    <span> - previous step</span>
  </li>
  <li>
    <strong>right arrow</strong>
    <span> - next step</span>
  </li>
  <li>
    <strong>esc</strong>
    <span> - end tour</span>
  </li>
</ul>
<p>
  You can disable hotkeys by calling
  <code>tourService.disableHotkeys()</code> or re-enable with
  <code>tourService.enableHotkeys()</code>
</p>

<h2 tourAnchor="events">Event Observables</h2>
<p>The
  <code>TourService</code> emits events that can be subscribed to like this:</p>
<pre>
this.tourService.initialize$.subscribe((steps: IStepOption[]) => {{ '{' }}
  console.log('tour configured with these steps:', steps);
});
</pre>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Payload</th>
      <th>Emitted When</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>stepShow$</td>
      <td>IStepOption</td>
      <td>A step is shown</td>
    </tr>
    <tr>
      <td>stepHide$</td>
      <td>IStepOption</td>
      <td>A step is hidden</td>
    </tr>
    <tr>
      <td>initialize$</td>
      <td>IStepOption[]</td>
      <td>The tour is configured with a set of steps</td>
    </tr>
    <tr>
      <td>start$</td>
      <td>IStepOption</td>
      <td>The tour begins</td>
    </tr>
    <tr>
      <td>end$</td>
      <td>any</td>
      <td>The tour ends</td>
    </tr>
    <tr>
      <td>pause$</td>
      <td>IStepOption</td>
      <td>The tour is paused</td>
    </tr>
    <tr>
      <td>resume$</td>
      <td>IStepOption</td>
      <td>The tour resumes</td>
    </tr>
    <tr>
      <td>anchorRegister$</td>
      <td>string</td>
      <td>An anchor is registered with the tour</td>
    </tr>
    <tr>
      <td>anchorUnregister$</td>
      <td>string</td>
      <td>An anchor is unregistered from the tour</td>
    </tr>
  </tbody>
</table>