<section class="page-header pb-3">
    <h1 class="project-name">Ngx Tour</h1>
    <h2 class="project-tagline">Product tour using Angular (2+)</h2>
    <ul class="nav nav-pills">
        <li class="nav-item" role="presentation">
            <a class="nav-link" [routerLinkActive]="['active']" routerLink="">MdMenu</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" [routerLinkActive]="['active']" routerLink="ng-bootstrap">NgBootstrap</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" [routerLinkActive]="['active']" routerLink="ngx-bootstrap">NgxBootstrap</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" [routerLinkActive]="['active']" routerLink="ngx-popper">NgxPopper</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" [routerLinkActive]="['active']" routerLink="console">Console</a>
        </li>
    </ul>
</section>

<router-outlet></router-outlet>

<h2>One on One Help</h2>

I'm available for (paid) one on one sessions through Code Mentor. I'd love to help you with your app or library.
<script data-codementor="isaacplmann" data-style="button" data-theme="dark" src="https://cdn.codementor.io/assets/badge.js"></script>
