<section class="page-header">
    <h1 class="project-name">Ngx Tour</h1>
    <h2 class="project-tagline">Product tour using Angular (2+)</h2>
    <ul class="nav nav-pills">
        <li role="presentation" [routerLinkActive]="['active']"><a routerLink="md-menu">MdMenu</a></li>
        <li role="presentation" [routerLinkActive]="['active']"><a routerLink="ng-bootstrap">NgBootstrap</a></li>
        <li role="presentation" [routerLinkActive]="['active']"><a routerLink="console">Console</a></li>
    </ul>
</section>

<router-outlet></router-outlet>
